@import "../../styles/globalVars.css";
@import "../../styles/colours.css";

.page {
  height: 100vh;
  display: flex;
  margin-top: 0px;
  background-color: transparent;
  justify-content: space-evenly;
}

.codeLink {
  margin: 20px 0px;
  max-width: unset;
  background-color: $dark-navy-blue;
}

.text {
  color: var(--text-colour);
}

.title {
  margin-top: 0px;
}

.input {
  padding: 20px;

  /* Hide the arrows at the side of the number input */
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

$section-width: 280px;

.top {
  display: flex;
  flex-direction: column;
  width: $section-width;

  & .input {
    font-size: 20px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  width: $section-width;
}

@media (min-width: 768px) {
  $section-width: 400px;
  .top {
    width: $section-width;

    & .input {
      font-size: 40px;
    }
  }
  
  .bottom {
    width: $section-width;
  }
}
