@import "../../styles/globalVars.css";
@import "../../styles/colours.css";

$input-padding-sides: 30px;

.page {
  margin: 30px 10px;
  justify-content: space-between;
  height: calc(100% - $input-padding-sides * 2);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $max-content-width;
}

.input {
  font-size: 20px;
  font-weight: 800;
  color: var(--text-colour);
  text-transform: uppercase;
  background-color: transparent;
  padding: 20px $input-padding-sides;
  border: solid 3px var(--text-colour);

  &::placeholder {
    color: var(--text-colour);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.inputContainer {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.addPlayerBtn {
  transition: all 0.5s linear;
  margin: 20px;
  background-color: transparent;;
}

.form {
  margin-bottom: 20px;
}

.startGameBtnContainer {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

.top {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .startGameBtn {
    right: 40px;
  }

  .input {
    width: calc(100% - $input-padding-sides * 2);
  }

  .top {
    width: 600px;
  }

  .form {
    margin-bottom: 40px;
  }
}
