@import "../../styles/globalVars.css";
@import "../../styles/colours.css";

$input-padding-sides: 30px;

.page {
  margin: 30px 10px;
  justify-content: space-between;
  background-color: rgba(40, 40, 40, 0.5);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 25px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $max-content-width;
}

.input {
  font-size: 20px;
  font-weight: 800;
  color: var(--text-colour);
  text-transform: uppercase;
  background-color: transparent;
  padding: 20px $input-padding-sides;
  border: solid 3px var(--text-colour);

  &::placeholder {
    color: var(--text-colour);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.inputContainer {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.addPlayerBtn {
  transition: all 0.5s linear;
  margin: 20px;
  background-color: $green;
  color: var(--text-colour);
}

.form {
  margin-bottom: 20px;
}

.startGameBtnContainer {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

.top {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

@media (min-width: 768px) {
  .startGameBtn {
    right: 40px;
  }

  .input {
    width: calc(100% - $input-padding-sides * 2);
  }

  .top {
    width: 600px;
    max-width: 600px;
  }

  .form {
    margin-bottom: 40px;
  }
}
