@import "../../styles/globalVars.css";
@import "../../styles/colours.css";

.page {
  background-color: transparent;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
